[url "git@github.com:"]
	insteadOf = https://github.com/
[user]
	email = rudbsm@gmail.com
	name = Nick
[alias]
    tree = log --graph --decorate --pretty=oneline --abbrev-commit --all
[init]
	defaultBranch = main
	
