[url "git@github.com:"]
    insteadOf = https://github.com/
    insteadOf = gh:
[url "git@codeberg.org:"]
    insteadOf = https://codeberg.org/
    insteadOf = cb:
[user]
    email = rudbsm@gmail.com
    name = Nick
[alias]
    tree = log --graph --oneline --decorate --all --max-count=25
[init]
    defaultBranch = main
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
